[submodule "include/tomlplusplus"]
	path = include/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "include/flatbuffers"]
	path = include/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "include/gf-pawncc"]
	path = include/gf-pawncc
	url = https://github.com/Lincoln-LM/gf-pawncc.git
